@import "tailwindcss";

:root {
    --chat-bg: #EFE7DE;
    --sidebar-bg: #FFFFFF;
    --message-out: #D9FDD3;
    --message-in: #FFFFFF;
}

body {
    background-color: #d1d7db;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
}